<template>
  <!-- One-way Binding -->
  <div v-html="greet"></div>
  <!-- <div v-bind:style="left">Text Formatting</div> -->
  <div v-bind:class="divClass">
    <button>Register</button>
    <button>Login</button>
  </div>
  <div>
    <p>{{ message }}</p>
  </div>

  <!-- Binding HTML Attribures -->
  <div>
    <a v-bind:href="url">Google Link</a>
  </div>  

  <!-- Event Binding -->
  <div id="app">
    <button v-on:click="showMessage">Click me</button>
  </div>

<!-- v-if Directive Condition -->
  <div>
    <p v-if="isItem">Item is Purchased</p>
    <p v-else>Item is not Purchased</p>
  </div>

  <!-- v-else Directive Condition -->
  <div>
    <p v-if="isItems">Item is Purchased</p>
    <p v-else>Item is not Purchased</p>
  </div>
  <!-- v-else-if Directive Condition -->
  <div>
    <p v-if="userRole === 'admin'">This is Admin</p>
    <p v-else-if="userRole === 'user'">This is User.</p>
    <p v-else>This is Normal Regular User</p>
  </div>

  <!-- v-show Directive -->
  <div>
    <button @click="toggleMessage">Toggle Message</button>
    <p v-show="showMessage">This message can be toggled.</p>
  </div>

  <!-- v-for loop -->
  <ul>
    <li v-for="item in items" :key="item.id">{{ item.name }}</li>
  </ul>
  <!-- Iterating Overa a Range
  <ul>
    <li v-for="n in 5" :key="n">{{ n }}</li>
  </ul> -->
  <div v-bind:style="{ color: textColor, 'background-color': bgColor }">Dynamic Styles</div>
</template>

<script>

export default {
  name: 'App',
  data(){
    return{
      greet:"<h3>Welcome to Vue-Js</h3>",
      left:{
        float:"left",
        color:"red",
        padding:"50px",
        fontWeight:"bold"
      },
      divClass:"divContainer",
      message: 'Shivani Gollapalli',
      url: 'https://www.google.com',
      isItem: true,
      isItems:false,
      userRole: 'user',
      items: [
        { id: 1, name: 'Item 1' },
        { id: 2, name: 'Item 2' },
        { id: 3, name: 'Item 3' },
      ],
    }
  },
  methods: {
    showMessage: function() {
      alert('Button clicked!');
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

button{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgb(216, 213, 213) 0.1;
  margin: 20px;
}
</style>
