<template>
  <div v-html="fheading"></div>
  <div class="container">
    <div id="leftFormContainer">
      <form>
          <label v-bind:class="labelClass">Full Name:</label>
          <input v-bind:class="inputClass" v-model="form.full_name" type="text"><br/>

          <label v-bind:class="labelClass">Age:</label>
          <input v-bind:class="inputClass" v-model="form.age" type="text"><br/>

          <label v-bind:class="labelClass">Branch:</label>
          <input v-bind:class="inputClass" v-model="form.branch" type="email"><br/>

          <label v-bind:class="labelClass">Join Year:</label>
          <input v-bind:class="inputClass" v-model="form.join_year" type="text"><br/>

          <label v-bind:class="labelClass">Current Year:</label>
          <input v-bind:class="inputClass" v-model="form.current_year" type="text"><br/>

          <button v-bind:class="buttonClass" @click="saveData()" type="submit">Save</button>
      </form>
  </div>
  <div id="rightFormContainer">
      <form>
          <label v-bind:class="labelClass">ID No::</label>
          <input v-bind:class="inputClass" v-model="form.id" type="text"><br/>

          <label v-bind:class="labelClass">Attendence:</label>
          <input v-bind:class="inputClass" v-model="form.attendence" type="text"><br/>

          <label v-bind:class="labelClass">Total Marks</label>
          <input v-bind:class="inputClass" v-model="form.subject_marks" type="text"><br/>

          <label v-bind:class="labelClass">CGPA:</label>
          <input v-bind:class="inputClass" v-model="form.cgpa" type="text"><br/>

          <label v-bind:class="labelClass">Address:</label>
          <input v-bind:class="inputClass" v-model="form.address" type="text"><br/>

      </form>
  </div> 
</div>
</template>


<script>
import axios from 'axios';
export default {
  name: 'App',
  data(){
    return{
      fheading:"<h1>Student Login Form</h1>",
      labelClass:"label",
      inputClass:"input",
      allUsers : [],
      buttonClass:"button",
      form : {
        full_name : '',
        id:'',
        branch:'',
        join_year:'',
        current_year:'',
        attendence:'',
        age:'',
        address:'',
        subject_marks:'',
        cgpa:''
      },
    }
  },


  methods : {
    async saveData() {
    console.log("This.form", this.form);
    await axios.post('http://localhost:3000/students/create', this.form, {
    headers: {
    }
  });
},
    async getAllStudents(){
      console.log("Running...")
      let data =await axios.get('http://localhost:3000/students/All',{
        headers : {
        }
      });
      console.log("Students",data)
      this.allStudents = data.data.Data.AllStudents
    }
  },
  async mounted(){
    console.log("Testing...")
    await this.getAllStudents();
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;
}
.container{
  max-width: 800px;
  margin: 0 auto;
}
#leftFormContainer {
  float:left;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
#rightFormContainer{
  float:right;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.label {
  display: block;
  margin-bottom: 8px;
  float: left;
}
.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.button {
  float:right;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>