<template>
  <div v-html="fheading"></div>
  <!-- <div v-bind:id="label">HelloWorld</div> -->
  <div class="container">
    <div id="formContainer">
      <form>
          <label v-bind:class="labelClass">First Name:</label>
          <input v-bind:class="inputClass" v-model="form.first_name" type="text"><br/>

          <label v-bind:class="labelClass">Last Name:</label>
          <input v-bind:class="inputClass" v-model="form.last_name" type="text"><br/>

          <label v-bind:class="labelClass">E-Mail:</label>
          <input v-bind:class="inputClass" v-model="form.email" type="email"><br/>

          <label v-bind:class="labelClass">Phone Number:</label>
          <input v-bind:class="inputClass" v-model="form.phone_number" type="text"><br/>

          <button v-bind:class="buttonClass" @click="saveData()" type="submit">Save</button>
      </form>
  </div>
  <div v-html="ftablehead"></div>
  <table>
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Frist Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="user in allUsers" :key="user._id">
          <!-- <td>{{ user._id }}</td> -->
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone_number}}</td>
          <td><button v-bind:class="btnEdit" @click="editData(user)">EDIT</button><button v-bind:class="btnDel" @click="deleteData(user)">DEL</button></td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>
</div>
</template>


<script>
import axios from 'axios';
export default {
  name: 'App',
  data(){
    return{
      fheading:"<h1>User Login</h1>",
      ftablehead:"<h2>User Details</h2>",
      labelClass:"label",
      inputClass:"input",
      allUsers : [],
      buttonClass:"button",
      btnDel:"btndel",
      btnEdit:"btnedit",
      form : {
        first_name : '',
        last_name:'',
        email:'',
        phone_number:''
      },
      isEdit : false
    }
  },


  methods : {
    async saveData(){
      if(this.isEdit){
        await axios.patch(`http://localhost:3000/user/update`, this.form, {
        headers: {}
        })
      }
      else{
        console.log("This.form",this.form)
        await axios.post('http://localhost:3000/user/create',this.form,{
        headers : {
        }
      });
      }
      this.isEdit = false;
      this.getAllUsers()
    },
    async getAllUsers(){
      console.log("called")
      let data =await axios.get('http://localhost:3000/user/details',{
        headers : {
        }
      });
      console.log("users",data)
      this.allUsers = data.data.Data.AllUsers
    },
    async deleteData(user){
      console.log("user_id",user._id);
      await axios.delete(`http://localhost:3000/user/delete/${user._id}`,{

      });
      this.getAllUsers();
    },
    async editData(user){
    this.isEdit = true;
    console.log("user",user);
      this.form.first_name = user.first_name;
      this.form.last_name = user.last_name;
      this.form.email = user.email;
      this.form.phone_number = user.phone_number;
      this.form["_id"] = user._id;
    },
  async updateUser(){
      await axios.patch('http://localhost:3000/user/update/'+ this.user._id,{
        headers : {
        }
      });
    },
  },

  async mounted(){
    console.log("Testing...")
    await this.getAllUsers();
  },
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;
}
.container{
  max-width: 800px;
  margin: 0 auto;
}
#formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.label {
  display: block;
  margin-bottom: 8px;
  float: left;
}
.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btndel{
  background-color: #ea1010;
  color: white;
  font-size: 5px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

}
.btnedit{
  background-color: #bf17e4;
  color: white;
  font-size: 5px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
}
th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}
th {
 background-color: #f2f2f2;
}
</style>