<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML</title>
</head>
<body>
    <h1>Server is Run Successfully and got disconnected ...!!</h1>
    <h1>HEllo {{name}} Welcome to Node.JS</h1>
</body>
</html>